body{
  text-align: center
}

.show{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #EEEEEE;
  border: solid 1px black
}

.name{
  font-size: 60px;     
  color :black;
  text-decoration:none;
}
    
.form{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #EEEEEE;
  border: solid 1px black
}

.memo{
  position:relative;
  right: 285px
}

.photo{
  width: 100%;
  height: 100% 
}

.textarea{
  width: 40%;
}


